/* Farmer Form Page */
.form-section {
    background-color: #2E8B57;  /* Sea Green */
    padding: 50px 0;
}

/* MAIN HEADING */
.main-heading {
    color: #000;
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 30px;
}

/* Form Card */
.form-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* NAVBAR */
.custom-navbar {
    background-color: #1f5f3f;
   
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.custom-navbar .nav-link:hover {
    color: #d4ffd9 !important;
}

